:root{
  --color-dark:#361999;
  --color-light:#78fff1;
}


body {
  background: linear-gradient(to top right,
  var(--color-dark),
  var(--color-light));
  height: 100vh;
  width: 100vw;
}
.container,
.secondContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
input {
  width: 100vw;
  height: 20px;
  border: none;
}
.loop{
  display: flex;
}
.box {
  border: 10px;
  border-color: black;
  width: 150px;
  height: 150px;
  background: linear-gradient(
    to top right,
    rgb(199, 22, 223),
    rgb(95, 200, 241)
  );
  color: white;
  font-size: 25px;
  border-radius: 35%;
  margin: 10px;
  display: flex;
  box-shadow: 5px 5px 15px 2px #000000;
  overflow: hidden;
  transition: 0.5s;
  margin: 0px 50px 30px 50px;
  opacity: 0.75;
  padding: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bookIMG {
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  transition: ease 0.4s;
}

.box:hover {
  width: 320px;
  height: 500px;
  border-radius: 15%;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: auto;
}

.descBox,
.contentBox {
  display: none;
  opacity: 0;
  transition: ease 0.4s;
  flex-direction: column;
}
.box:hover .descBox,
.box:hover .contentBox {
  display: flex;
  opacity: 1;
}
.contentBox {
  width: 100%;
  font-size: 16px;
  text-align: justify;
}
.box:hover .headerBox {
  margin-bottom: 0;
  transition: margin 0s;
}
.pageTittle{
display: flex-start;
  
  margin: 0;
  padding-top:5px;
  padding-bottom: 0px;
}

